<div>
  <form class="hashtagForm">
    <div class="row collapse">
      <div class="small-1 large-1 column">
        <span class="prefix">#</span>
      </div>
      <div class="small-11 large-11 column">
        <input type="text" placeholder="Enter a hashtag to track" />
      </div>
    </div>

    <div class="row collapse">
      <textarea class="small-12 large-12 column" placeholder="Emails (separate with commas)"></textarea>
    </div>

    <div class="row">
      <div class="small-3 small-centered column">
        <button ng-click="hashtagSubmit()">Submit</button>
      </div>
    </div>

  </form>
</div>