<div class="jumbotron">
  <h1>InstaLob Breh!</h1>
  <p>
    Send your Instagram photos as postcards! <br>
    Our service allows you to register hashtags with your Instagram account that we will track and automatically mail out any picture that you upload with that tag.
  </p>
</div>

<div style="width:75%; margin: 0 auto;">
  <div class="col-lg-6">
    <h3>Automatically Turn This IG Post</h3>
    <img src="../img/instagram.png"></div>
  <div class="col-lg-6">
    <h3>Into This OG Postcard! </h3>
    <img src="../img/postcardfront.png"></div>
  <div class="col-lg-6"><br>
    <h3>And Have It Mailed To <br> Your Loved Ones!</h3>
    <img src="../img/postcardback.png"></div>
</div>

<div class="col-lg-12">
  <br><br>
  <a href="#/instagram" class="btn btn-info btn-lg btn-block">Start Sending Postcards Now</a>
  <br><br>
</div>